{% extends "layout.html" %}

{% block head %}
<link href="/static/css/editor.css" rel="stylesheet" />
<link href="/static/vendor/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}
<div id="main-content">
    <canvas id="crezy-background"></canvas>
    <canvas id="crezy-grid"></canvas>
    <canvas id="crezy-canvas"></canvas>
    <div id="editor-ui">
        <div id="sidebar-container">
            <p>Move</p>
            <p>Text</p>
            <p>Image</p>
        </div>
    </div>
    <div class="clearfloat"></div>
</div>

<div id="overview"></div>

<script src="/static/vendor/createjs-2013.12.12.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/closure/goog/base.js"></script>
<script src="/static/js/editor.js"></script>

<script>
Crezy.loadPresentation({{ pres.id }});
</script>
{% endblock %}
