{% extends "layout.html" %}

{% block head %}
<link href="/static/css/editor.css" rel="stylesheet" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}
<canvas id="crezy-background"></canvas>
<canvas id="crezy-grid"></canvas>
<canvas id="crezy-canvas"></canvas>

<div id="overview"></div>

<script src="/static/vendor/createjs-2013.12.12.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/closure/goog/base.js"></script>
<script src="/static/js/editor.js"></script>

<script>
Crezy.loadPresentation({{ pres.id }});
</script>
{% endblock %}
