{% extends "layout.html" %}

{% block head %}
<link href="/static/css/editor.css" rel="stylesheet" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}
<div id="canvas" draggable="true"></div>

<div id="overview"></div>

<script src="/static/js/nicEdit.js"></script>
<script src="/static/js/impress-editor.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/closure/goog/base.js"></script>
<script src="/static/js/editor.js"></script>

<script>
Crezy.loadPresentation({{ pres.id }});
</script>
{% endblock %}
