{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}

<canvas id="crezy-background"></canvas>
<canvas id="crezy-canvas"></canvas>

<script src="/static/vendor/createjs-2013.12.12.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/closure/goog/base.js"></script>
<script src="/static/js/crezy.js"></script>

<script>
    Crezy.loadPresentation({{ pres.id }}, function() {
        Crezy.init();
    });
</script>
{% endblock %}
