@import url(http://fonts.googleapis.com/css?family=PT+Serif);

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}
:focus {
    outline: none;
}

#toolsbar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}
#toolsbar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    background: #F5F5F5;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white #a0a0a0 #a0a0a0 white;
}
#toolsbar ul li {
    width: 50px;
    height: 50px;
    color: #404040;
    border: none;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
}

#crezy-background {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
#crezy-canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: 30;
}
